@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Reset and Base Styles */
/* Modern CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-Raleway);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

a:where(:not([class])) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px currentColor;
}

:focus:not(:focus-visible) {
  outline: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: currentColor;
}

/* Optional: Remove animations and transitions for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


/* Root Variables */
:root {
  --primary-color: #3498db; /* Primary color */
  --secondary-color: #2ecc71; /* Secondary color */
  --background-color: #f9f9f9; /* Background color */
  --text-color: #f5f5f5; /* Default text color */
  --ff-Rubik:"Rubik", serif; /* Base font family */
  --ff-Raleway:"Raleway", sans-serif; /* Base font family */
  --base-padding: 1rem;

  /* Gradient */
  --primary-gradient: linear-gradient(180deg, #1abc9c, #3498db);;
  --bkg-gradient: radial-gradient(circle, #ffffff, #f5f5f5);
  --midnightBlue-gradient: linear-gradient(45deg, #2c3e50, #3498db);;

  /* Responsive Font Sizes */
  --font-size-small: clamp(0.875rem, 2vw, 1rem);
  --font-size-medium: clamp(1rem, 2.5vw, 1.25rem);
  --font-size-large: clamp(1.5rem, 3vw, 1.5rem);
}




/* Main Content */
main {
  display: grid;
  place-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: var(--bkg-gradient)

}

section {
  margin-bottom: var(--base-padding);
  font-size: var(--font-size-small);
}

h1, h3{
  font-family: var(--ff-Rubik);
  font-size: var(--font-size-large);
  background:linear-gradient(45deg, #ff6f61, #9b59b6);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
  color: var(--text-color);
}
time{
  font-family: var(--ff-Rubik);
  font-weight: 300;
  font-size: var(--font-size-small);
  transition: letter-spacing 0.3s ease;
  
}
.timeline-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.timeline-container{
  position: relative;
  margin: 2rem 0;
  max-width: 1024px;
  padding: 20px;
}

.timeline-container::before{
  content: "";
  position: absolute;
  width: 4px;
  background: var(--secondary-color);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius:2px ;
  -webkit-border-radius:2px ;
  -moz-border-radius:2px ;
  -ms-border-radius:2px ;
  -o-border-radius:2px ;
}

.timeline-event{
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-bottom: 35px;
  position: relative;
  animation: fade-in .5s forwards;
  -webkit-animation: fade-in .5s forwards;
  animation-delay: 0s;
  transition: all 0.5s ease; 
}
.timeline-event:hover  :not(.event-card:nth-child(odd)){
  transform: rotate(0);

}
@keyframes fade-in {
  from{
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}
to{
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
  
}
.timeline-event:nth-child(odd){
  left: 0;
  position: relative;
  justify-content: flex-end;
  text-align: right;
  animation-delay: .2s;

}

.timeline-event:nth-child(even){
  left: 50%;
  position: relative;
  justify-content: flex-start;
  text-align: left;
  animation-delay: .4s;

}

/* timeline event connector 
 */

 .timeline-event:nth-child(odd)::before{
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  background: var(--secondary-color);
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.timeline-event:nth-child(odd)::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  right: -5px;
  border-radius: 50%;
  outline: 1px solid var(--background-color);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.timeline-event:nth-child(even)::before{
  content: "";
  position: absolute;
  width: 7%;
  height: 5px;
  background: var(--secondary-color);
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.timeline-event:nth-child(even)::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  left: -5px;
  top: 50%;
  outline: 1px solid var(--background-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}



.event-card{
  background-image: var(--primary-gradient);
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: all 0.5s ease; 
 
}
.event-card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: rgba(255,255,255, .1);
  top: -10px;
  left: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  z-index: 1;
}
.event-card:hover{
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  cursor: pointer;
}

.event-card:hover time{
  letter-spacing: .5px;
}
.icon i{
  font-size: 40px;
  margin-bottom:10px;
}

/* responsive  */

@media screen and (max-width:650px){
  .timeline-event {
    width: 100%;
}
.event-card{
  padding: 10px;
}
.timeline-event:has(:nth-child(odd))::before,
.timeline-event:has(:nth-child(odd))::after{
  width: 0;
}
.timeline-event:nth-child(even) {
 left: 0; 
}
  h1{
    text-align: center;
  }
}